<br>
<br>
<br>

<div class="row">
    <div class="col-12">

        <div class="card card-light">
            <div class="card-header bg-danger">
                <p class="text-center">Pour pouvoir effectuer la livraison, veuillez saisir
                    la date et l'adresse de livraison</p>
            </div>
            <div class="card-body">
                <input type="text"
                    [(ngModel)]="deliveryService.selectedDelivery.delivery_location"
                    class="form-control form-control-border" id="exampleInputBorder"
                    placeholder="Adresse de livraison">
                <br>
                <input type="datetime-local"
                    [(ngModel)]="deliveryService.selectedDelivery.delivery_date" (blur)="onBlurDeliveryDate()"
                    class="form-control form-control-border" id="delivery_date"
                    placeholder="Date de livraison">
                <br>
            </div>
        </div>




        <div class="callout callout-dark">
            <h5><i class="fas fa-eye"></i> Voici un aperçu de votre commande:</h5>
            Vous pouvez consulter toutes les données de vos commandes effectuées dans "Mes commandes" (En haut de la
            page)
        </div>


        <div class="invoice p-3 mb-3">
            <div class="row">
                <div class="col-12">
                    <h4>
                        <i class="fas fa-globe"></i> e-Kaly, C<sup>ie</sup>.
                    </h4>
                    <img src="assets/img/logo-e-kaly-v2.png" width="200px" height="100px">
                </div>
            </div>
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <address>
                        <strong> e-Kaly, C<sup>ie</sup></strong><br>
                        LOT IIN 185, Analamahitsy<br>
                        Antananarivo, Madagascar<br>
                        Phone: +261 32 69 310 51<br>
                        Email: antenainarandrianantoandro@gmail.com
                    </address>
                </div>
                <div class="col-sm-4 invoice-col">
                    <u>Information du client:</u>
                    <address>
                        <strong>{{userService.selectedUser.name}}</strong><br>
                        Adresse de livraison : <strong><i> "{{deliveryService.selectedDelivery.delivery_location}}, Antananarivo,
                                Madagascar"</i></strong><br>

                        Phone: {{userService.selectedUser.phone}}<br>
                        Email: <a href="#">{{userService.selectedUser.email}}</a>
                    </address>
                </div>
                <div class="col-sm-4 invoice-col">
                    <br>
                    <b>Restaurant:</b> {{restaurantService.selectedRestaurant.restaurant_name}}<br>
                    <b>Date de commande:</b> {{OrderDate}}<br>
                    <b>Date de livraison:</b> {{deliveryService.selectedDelivery.delivery_date}}
                </div>
            </div>

            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr align="center">
                                <th>Qté</th>
                                <th>Plat</th>
                                <th>Description</th>
                                <th>Sous-total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of obj">
                                <td align="center">1</td>
                                <td align="center">{{item.dishes_name}}</td>
                                <td align="center">{{item.dishes_desc}}</td>
                                <td align="right"><strong>{{item.dishes_price}}</strong><em>&nbsp;Ariary</em> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <br>
                    <div class="callout callout-danger">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        <mark><strong>(2)deux plats au maximum</strong></mark> pour <mark><strong>(1)une
                                livraison</strong></mark>.
                    </div>
                </div>
                <div class="col-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:50%">Sous-total:</th>
                                    <td align="right">{{totalPrice}} Ariary</td>
                                </tr>
                                <tr>
                                    <th>Nombre de livraison:</th>
                                    <td align="right">{{DeliveryCount}}</td>
                                </tr>
                                <tr>
                                    <th>Frais de livraison</th>
                                    <td align="right">{{ShippingCost}} Ariary</td>
                                </tr>
                                <tr>
                                    <th>Montant total à payer:</th>
                                    <td align="right">{{TotalAmountToPay}} Ariary</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row no-print">
                <div class="col-12">
                    <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i
                            class="fas fa-print"></i> Imprimer</a>
                    <a href="" [routerLink]="['/order']" class="btn btn-warning btn-flat float-right"><i
                            class="far fa-credit-card"></i> Modifier le panier
                    </a>
                    <button type="button" class="btn btn-info btn-flat float-right" style="margin-right: 5px;">
                        <i class="fas fa-download"></i> Effectuer la commande
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>