<div class="container-fluid">
    <div *ngIf="show">
        <h2 class="text-center display-4">{{WelcomeText}}</h2>
    </div>
    <h2 class="text-center display-4">Le meilleur des restaurants livré chez vous</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2">  
            <form #searchRestaurant="ngForm" (ngSubmit)="search(searchRestaurant)" method="get">
                <div class="input-group">
                    <input type="search" [(ngModel)]="restaurantService.selectedRestaurant.restaurant_name" name="restaurant_name" #restaurant_name="ngModel" class="form-control form-control-lg" placeholder="Restaurants">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="">
    <p></p>
</div>
<div class="card card-solid">
    <div class="card-body pb-0">
        <div class="row">


            <div class="col-lg-3 col-6" *ngFor="let restaurant of restaurantService.restaurants">
                <div class="card card-success card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="img-fluid img-bordered" src="../../assets/img/user4-128x128.jpg"
                                alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">{{restaurant.restaurant_name}}</h3>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b><i class="fas fa-map-marker-alt mr-1"></i> Lieu:</b> <a
                                    class="float-right">{{restaurant.restaurant_location}}</a>
                            </li>
                            <li class="list-group-item">
                                <b><i class="fas fa-lg fa-phone-alt mr-1"></i> Numéro telephone:</b> <a
                                    class="float-right">{{restaurant.restaurant_phone}}</a>
                            </li>
                        </ul>
                        <div class="col-12">
                            <div class="float-right">
                                <a [routerLink]="['/dishes/restaurant/', restaurant._id]"
                                    class="btn btn-outline-info btn-block btn-flat"><b> Visiter</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>