<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="assets/img/logo-ekaly.png" alt="AdminLTELogo" length="144px" height="auto" />
  </div>

  <nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- <img src="assets/img/logo-ekaly.png" alt="ekalyLogo" width="100px" height="45px"/> -->
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <b><a href="http://localhost:4200/" class="nav-link">Accueil</a></b>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <b><a href="#" [routerLink]="['aboutUs',]" class="nav-link">A propos de nous</a></b>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <b><a href="#" [routerLink]="['contactUs',]" class="nav-link">Contactez e-kaly</a></b>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" data-target="#navbar-search2" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block" id="navbar-search2">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> -->


      <li class="nav-item dropdown">
        <a [routerLink]="['order',]" class="nav-link" data-toggle="dropdown" href="#">
          <b><i class="fa fa-shopping-basket fa-3"></i></b>
          <span class="badge badge-warning navbar-badge">1</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-block btn-success" [routerLink]="['login',]" href="#" role="button">
          <b><i class="fa fa-sign-in-alt"></i> SE CONNECTER</b>
        </a>
      </li>
    </ul>
  </nav>

  <div class="content">
    <!-- <app-restaurant></app-restaurant> -->
    <!-- <app-dishes></app-dishes> -->
    <!-- <app-user></app-user> -->
    <!-- <app-order-page></app-order-page> -->
    <!-- <app-order-line></app-order-line> -->
  </div>
</div>
<router-outlet></router-outlet>
<footer class="main-footer">
  <strong>Copyright &copy; <a href="https://web.facebook.com/randrianantoandro.antenaina/">RANDRIANANTOANDRO
      Antenaina</a>.</strong>
</footer>