
<br>
<br>
<br>
<br>
<br>
<br>

<div class="error-page">
    <h2 class="headline text-danger"> 404</h2>
    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> Page non trouvée.</h3>
      <p>
        La page que vous tentez d'afficher n'existe pas ou un autre erreur s'est produite.
        Vous pouvez revenir à <a href="../../index.html">la page d'accueil</a>.
      </p>
      <form class="search-form">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button type="submit" name="submit" class="btn btn-danger"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>