<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="card">
    <div class="card-body row">
      <div class="col-5 text-center d-flex align-items-center justify-content-center">
        <div class="">
          <h2>e-<strong>KALY</strong></h2>
          <p class="lead mb-5">Antananarivo, Madagascar<br>
            Phone: +261 32 69 310 51
          </p>
        </div>
      </div>
      <div class="col-7">
        <div class="form-group">
          <label for="inputName">E-mail de l'expediteur : </label>
          <input type="text" [(ngModel)]="mailServiceService.selectedMail.sender" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputEmail">E-mail du destinataire : </label>
          <input type="email" [(ngModel)]="mailServiceService.selectedMail.recipient" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputSubject">Objet : </label>
          <input type="text" [(ngModel)]="mailServiceService.selectedMail.subject" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputMessage">Votre message : </label>
          <textarea class="form-control" [(ngModel)]="mailServiceService.selectedMail.text" rows="4"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Envoyer le message">
        </div>
      </div>
    </div>
  </div>