<div class="row">

    <div class="col-sm-8">
        <div class="card card-black card-outline">
            <div class="card-header bg-success">
                <h2 class="text-left display-5">Caisse</h2>
            </div>
            <div class="card-body p-0">

                <div class="row">

                    <div *ngIf="show" class="col">
                        <app-login></app-login>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <div id="accordion">
                            <div class="card card-success card-outline">
                                <a class="d-block w-100" data-toggle="collapse" href="#collapseSeven"
                                    aria-expanded="true">
                                    <div class="card-header">
                                        <h4 class="card-title w-100">
                                            Votre commande
                                        </h4>
                                    </div>
                                </a>
                                <div id="collapseSeven" class="collapse show" data-parent="#accordion" style="">
                                    <div class="card-body">
                                        <table class="table">
                                            <tbody>
                                                <tr *ngFor="let item of obj">
                                                    <td>
                                                        <h5 class="text-left display-5">{{item.dishes_name}}</h5>
                                                    </td>
                                                    <td><strong>{{item.dishes_price}}</strong><em>&nbsp;Ariary</em></td>
                                                    <!-- <td class="text-center">
                                                <button type="button" (click)="removeToCart(item)" class="btn btn-danger btn-sm"><i
                                                    class="far fa-plus-trash mr-1"></i>
                                                  Supprimer</button>
                                            </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-4">

        <div class="small-box bg-success">
            <div class="inner">
                <h3>Résumé de votre commande</h3>
                <!-- contenu -->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">
                                        Nombre de plats</th>
                                    <td class="text-right">{{obj.length}}</td>
                                </tr>
                                <tr>
                                    <th>Sous-total</th>
                                    <td class="text-right">{{totalPrice}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <h5><strong>Montant à payer:</strong></h5>
                                    </th>
                                    <td class="text-right">

                                        <h5><strong>$265.24</strong></h5>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contenu -->
            <a href="#" class="small-box-footer">
                Continuer &nbsp;<i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>