<div class="row">

    <div class="col-sm-8">
        <div class="card card-black card-outline">
            <div class="card-header bg-light">
                <h2 class="text-left display-5">Caisse</h2>
            </div>
            <div class="card-body p-0">

                <div class="row">

                    <div *ngIf="show" class="col">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>Login</h3>
                                <p>Vous devez vous connecter</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>
                            </div>
                        </div>
                        <app-login></app-login>
                    </div>

                    <div class="w-100"></div>
                    <div class="col">
                        <div id="accordion">
                            <div class="card card-light card-outline">
                                <a class="d-block w-100" data-toggle="collapse" href="#collapseSeven"
                                    aria-expanded="true">
                                    <div class="small-box bg-warning">
                                        <div class="inner">
                                            <h3>Votre commande</h3>
                                            <p>Veuillez verifier votre commande</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                </a>
                                <div id="collapseSeven" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        <table class="table">
                                            <tbody>
                                                <tr *ngFor="let item of obj">
                                                    <td>
                                                        <h5 class="text-left display-5">{{item.dishes_name}}</h5>
                                                    </td>
                                                    <td align="right">
                                                        <strong>{{item.dishes_price}}</strong><em>&nbsp;Ariary</em>
                                                    </td>
                                                    <!-- <td class="text-center">
                                                <button type="button" (click)="removeToCart(item)" class="btn btn-danger btn-sm"><i
                                                    class="far fa-plus-trash mr-1"></i>
                                                  Supprimer</button>
                                            </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- <p class="text-center">1 of 3</p> -->
                                </div>
                                <div class="col-6">
                                    <div class="card card-light">
                                        <div class="card-header">
                                            <p class="text-center">Pour pouvoir effectuer la livraison, veuillez saisir
                                                la date et l'adresse de livraison</p>
                                        </div>
                                        <div class="card-body">
                                            <input type="text"
                                                [(ngModel)]="deliveryService.selectedDelivery.delivery_location"
                                                class="form-control form-control-border" id="exampleInputBorder"
                                                placeholder="Adresse de livraison">
                                            <br>
                                            <!-- <input type="text" [(ngModel)]="deliveryService.selectedDelivery.delivery_date" class="form-control form-control-border" id="exampleInputBorder" placeholder="Adresse de livraison"> -->
                                            <input type="datetime-local"
                                                [(ngModel)]="deliveryService.selectedDelivery.delivery_date"
                                                class="form-control form-control-border" id="delivery_date"
                                                placeholder="Date de livraison">
                                            <br>
                                            <a [routerLink]="['/preview', deliveryService.selectedDelivery.delivery_location, deliveryService.selectedDelivery.delivery_date]"
                                                class="btn btn-block bg-gradient-dark btn-lg"><b><i class="fa fa-arrow-circle-right fa-4" aria-hidden="true"></i> Soumettre la livraison</b></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <!-- <p class="text-center">3 of 3</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">

        <div class="small-box bg-secondary">
            <div class="inner">
                <h4>Résumé de votre commande</h4>
                <!-- contenu -->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th class="text-left">
                                        Nombre de plats:</th>
                                    <td class="text-right">{{obj.length}}</td>
                                </tr>
                                <!-- <tr>
                                    <th>Sous-total</th>
                                    <td class="text-right">{{totalPrice}} <em>&nbsp;Ariary</em></td>
                                </tr> -->
                                <tr>
                                    <th>
                                        <strong>Sous-total:</strong>
                                    </th>
                                    <td class="text-right">
                                        <strong>{{totalPrice}}</strong><em>&nbsp;Ar</em>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contenu -->
            <!-- <a href="#" class="small-box-footer">
                Continuer &nbsp;<i class="fas fa-arrow-circle-right"></i>
            </a> -->
        </div>
    </div>
</div>