<div class="row">

    <div class="col-sm-8">
        <div class="card card-black card-outline">
            <div class="card-header bg-light">
                <h2 class="text-left display-5">Votre panier</h2>
            </div>
            <div class="card-body p-0">
                <app-order-line></app-order-line>
                <br>
                <a (click)="checkout()" class="btn btn-dark btn-block btn-flat"><b><i class="fa fa-arrow-circle-right fa-4"
                            aria-hidden="true"></i> Continuer</b></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">

        <div class="small-box bg-secondary">
            <div class="inner">
                <h4>Résumé de votre commande</h4>
                <!-- contenu -->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th class="text-left">
                                        Nombre de plats:</th>
                                    <td class="text-right">{{obj.length}}</td>
                                <tr>
                                    <th>
                                        <strong>Sous-total:</strong>
                                    </th>
                                    <td class="text-right">
                                        <strong>{{totalPrice}}</strong><em>&nbsp;Ar</em>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>