<div class="row">

    <div class="col-sm-8">
        <div class="card card-black card-outline">
            <div class="card-header bg-success">
                <h2 class="text-left display-4">Votre commande</h2>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead class="bg-light">
                        <tr>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                                Plat(s)
                            </th>
                            <th class="text-center">
                                Prix
                            </th>
                            <th class="text-center">
                                Nombre
                            </th>
                            <th class="text-center">
                                Status
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                #Photo
                            </td>
                            <td class="text-center">
                                <a>
                                    Lasopy
                                </a>
                                <br />
                                <small>
                                    Created 01.01.2019
                                </small>
                            </td>
                            <td class="text-center">
                                $250.30
                            </td>
                            <td class="text-center">
                                <span title="Nombre d'element" class="badge bg-success">3</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-success">Unpaid</span>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Supprimer
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-4">

        <div class="small-box bg-success">
            <div class="inner">
                <h3>Résumé de votre commande</h3>
                <!-- contenu -->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">
                                        Nombre de plats</th>
                                    <td class="text-right">5</td>
                                </tr>
                                <tr>
                                    <th>Sous-total</th>
                                    <td class="text-right">$10.34</td>
                                </tr>
                                <tr>
                                    <th>
                                        <h5><strong>Montant à payer:</strong></h5>
                                    </th>
                                    <td class="text-right">
                                        
                                        <h5><strong>$265.24</strong></h5>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contenu -->
            <a href="#" class="small-box-footer">
                Continuer &nbsp;<i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>