<h3>
  <p> Liste des plats à livrer</p>
</h3>
<div class="card">

  <div class="card-body p-0">
    <table class="table table-striped projects">
      <thead>
        <tr>
          <!-- <th style="width: 1%">
                      #
                  </th> -->
          <th style="width: 20%">
            Date de commande
          </th>
          <th style="width: 20%">
            Lieu de livraison
          </th>
          <th style="width: 30%">
            Frais de livraison
          </th>
          <!-- <th>
                      Etat de la commande
                  </th> -->
          <th style="width: 20%">
          </th>
          <th style="width: 30%">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let delivery of deliveryService.delivery">
          <!-- <td>
                      #
                  </td> -->
          <td>

            <small>
              {{delivery.created_at}}
            </small>
          </td>
          <td>
            {{delivery.delivery_location}}
          </td>
          <td>
            {{delivery.delivery_price}} Ariary
          </td>
          <!-- <td class="project-state">
                      <span class="badge badge-warning">{{delivery.delivery_deliverer}}</span>
                  </td> -->
          <td class="project-actions text-right">
            <!-- <button (click)="onOpen(delivery)" class="btn btn-block btn-outline-success btn-flat" >
                        <i class="fa fa-arrow-circle-right fa-4"
                        aria-hidden="true"></i> 
                          Ouvrir
                      </button> -->


            <button (click)="onClick(delivery)" class="btn btn-block btn-outline-success btn-flat">
              <i class="fas fa-eye"></i> 
              Voir la commande
            </button>
          </td>
          <td class="project-actions text-right">
            <button (click)="onSubmit(delivery)" class="btn btn-block btn-info btn-xs">
              <!-- <i class="fa fa-arrow-circle-right fa-4"
                      aria-hidden="true"></i>  -->
              Livrer le plat
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>