<table class="table">
    <tbody>
        <tr *ngFor="let item of obj;index as i">
            <td>
                <!-- <h5 class="text-left display-5">{{item.dishes_name}}</h5> -->
                {{item.dishes_name}}
            </td>
            <td align="right"><strong>{{item.dishes_price}}</strong><em>&nbsp;Ar</em> </td>
            <!-- <td>
                        <button type="button" (click)="removeToCart(obj[i])" class="btn btn-danger btn-sm"><i
                                class="far fa-plus-trash mr-1"></i>
                            Supprimer</button>
                    </td> -->
            <td align="right">
                <!-- <button type="button" (click)="removeToCart(obj[i])" class="btn btn-danger btn-sm"><i
                            class="far fa-plus-trash mr-1"></i>
                            </button> -->
                <a (click)="removeToCart(obj[i])"><i class="fa fa-minus-circle fa-3" aria-hidden="true"></i></a>
            </td>
            <!-- <i class="fa fa-minus-circle fa-3" aria-hidden="true"></i> -->
        </tr>
    </tbody>
</table>
<hr class="bg-light">

<div class="row justify-content-center">
    <div class="col-md-4"><strong>Sous-total :</strong></div>
    <div class="col-md-4 offset-md-1"><strong>{{totalPrice}}</strong><em>&nbsp;Ar</em></div>
</div>