<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>Vous voulez manger chez votre restaurant préféré mais que vous ne voulez pas galérer dans les
                    embouteillages ? N'attendez plus, et gagnez du temps ! Fini les files d'attente, les embouteillages
                    pour pouvoir manger chez votre restaurant préféré, e-kaly s'occupe de tout.</p>

                <p>E-kaly est la façon la plus facile de commander vos repas en ligne. Du bout des doigts, accédez à de délicieuses cuisines (chinoise, malagasy,
                    européenne, ...) et à un choix de restaurants qui livrent dans votre ville/quartier. Idéal pour les
                    déjeuners au bureau, lorsque vous n'avez pas le temps de quitter le travail et galérer dans les
                    embouteillages.</p>

                <p>E-kaly est La référence en matière de livraison de repas à domicile. Découvrez de manière simple et
                    intuitive toute une gamme de restaurants soigneusement sélectionnés pour vous dans le site Web et commandez ce qui vous plaît!</p>

                <p>Rejoignez notre communauté e-kaly, la seule façon de :</p>

                <p>•&nbsp; &nbsp;&nbsp;choisir les repas des meilleurs restaurants près de chez vous<br>
                    •&nbsp; &nbsp;&nbsp;commander où que vous soyez<br>
                    •&nbsp; &nbsp;&nbsp;suivre votre commande en temps réel</p>

                <!-- <p><br>
                    Des questions, des suggestions à propos de notre service ? Envoyez-nous un e-mail via
                    sales@e-kaly.mg et nous vous recontacterons dans les plus brefs délais.</p> -->
            </div>
        </div>
    </div>
</div>