<!-- Need to change the router link -->
<div class="container-fluid">
    <h2 class="text-center display-4">Bienvenue sur le menu admin de e-Kaly</h2>
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-xl">
            <a class="btn btn-dark btn-block btn-flat" [routerLink]="['/user',]" href="#"
            role="button">Restaurant</a>
        </div>
        <div class="col-xl">
          <a class="btn btn-light btn-block btn-flat" [routerLink]="['/user',]" href="#"
            role="button">Service delivery</a>
        </div>
      </div>
  </div>